<!-- views/partials/_navbar.ejs -->
<link rel="stylesheet" href="/stylesheets/partials.css" />
<nav>     
      <% if(user) { %>         
      <div class="navbar">
        <h1 id="nav-header">MyFlix</h1> 
        <div class="nav-links">
          <a class="authlink" href="/">Home</a>
          <a class="authlink" href="/movies/showFavorites">My Favorites</a>
          <a class="authlink" href="/movies/all">All Movies</a>
          <a class="authlink" href="/auth/sign-out">Sign Out</a>
        </div>
    </div>
    <% } else { %>
    <div class="navbar">      
        <h1 id="nav-header">MyFlix</h1> 
        <div class="nav-links">
          <a class="authlink" href="/movies/all">All Movies</a>
          <a class="authlink" href="/auth/sign-in">Sign In</a>
          <a class="authlink" href="/auth/sign-up">Sign Up</a>
      </div>
    </div>
    <% } %>
</nav>

