/* public/stylesheets/partials.css */

.navbar {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
}

#nav-header {
    color: #df0d10;
    size: 1em !important;
    margin: 0;
}

.authlink {
    text-decoration: none;
    margin: 0 15px;
    color: #df0d10;
    font-weight: bold;
}

.authlink:hover {
    color: rgb(238, 235, 235);
}