@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* public/stylesheets/style.css */

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    color: #fefcf4;
}

nav {
    float: right;
}

.alignText {
    text-align: center;
}

.container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: dodgerblue;
    padding: 20px;
}

.container>div {
    background-color: #000000;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.signin-container,
.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20em;
    height: 50%;
    background-color: #f6e7e7;
    padding: 30px 40px 20px 40px;
    border-radius: 20px;
    color: #4b598e;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20em;
    height: 50%;
    background-color: #f6e7e7;
    padding: 30px 40px 20px 40px;
    border-radius: 20px;
    color: #4b598e;
    font-weight: bold;
}

input {
    border: 1px solid rgb(182, 182, 182);
    padding: 8px;
    border-radius: 10px;
}

button {
    padding: 10px;
    background-color: #ce4866;
    color: white;
    border-radius: 30px;
    border: none;
    margin: 15px 0;
    font-size: 1.1em;
}