<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit Page</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit Page</h1>
    <div class="container">  
         <form action="/movies/movie/<%= movie.id %>?_method=PUT" method="POST">    
            <p><%= movie.title %></p>
            <input name="notes" type="text" placeholder="Your notes here" value="<%= movie.notes %>" required>
            <button type="submit">Update Item</button>
         </form> 
    </div>    
  </body>
</html>
