<!-- views/movies/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/show.css" />
    <title>Favorites</title>    
  </head>
  <body>    
    <h1>List of favs</h1>        
    <ul>
        <% favoriteMovies.forEach(movie => { %>
          <li><%= movie.title %></li>
        <% }); %>
    </ul>
  </body>
</html>
