<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>All Movies</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>All Movies</h1>
    <div class="container">      
        <% movies.forEach(movie => { %>
          <div>
            <strong><%= movie.title %></strong>  
          </div>
      <% }) %>      
    </div>
    <button onclick="window.location.href='/movies/fetch'">More Movies</button>
  </body>
</html>
