<!-- views/movies/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/show.css" />
    <title>Details</title>
  </head>
  <body>    
    <h1><%= movie_details.title%></h1>
    <p>Overview: <%= movie_details.overview %></p>
    <button onclick="window.history.back()">Go Back</button>
    <!--<button onclick="window.location.href='/<%= movie_details.id %>/new'">Add To Favorites</button>-->
    <a href="/movies/movie/<%= movie_details.id %>/new">Add To Favorites</a>
  </body>
</html>
